body{
  text-align: center;

}
.Delani{
  margin: auto;
  background-image: url("../assets/backgrounds/h_img.jpg");
  padding: 100px;
  color: white;
}
.Services{
  background-image: url("../assets/backgrounds/s_image.jpg");
  color: white;
  margin: auto;
  padding: 100px;
}
.port{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;;
}
.port h2{
  width: 100%;
}
.portfolio{
  width: 23%;
  /* padding: 10px; */
  position: relative;;
}
.portfolio img{
  width: 100%;
}
.port-desc{
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: -84%;
  background: rgba(255,255,255,0.6);
  opacity: 1;
}
.Us{
  background-image: url("../assets/backgrounds/c_image.jpg");
  margin: auto;
  padding: 120px;
}
.What{
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.icons{
  background-color: red;
}

}
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
