body{
  text-align: center;

}
.Delani{
  margin: auto;
  background-image: url("../assets/backgrounds/h_img.jpg");
  padding: 100px;
  color: white;
}
.Services{
  background-image: url("../assets/backgrounds/s_image.jpg");
  color: white;
  margin: auto;
  padding: 100px;
}
.Us{
  background-image: url("../assets/backgrounds/c_image.jpg");
  margin: auto;
  padding: 100px;
}
.What{
display:block;

}
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%;
  }
  .text{
    padding: 100px;
  }
